<div class="-rotate-80">
<app-banner text="Get your meal now !"></app-banner></div>

<div *ngIf="cart && cart.items.length" class="container relative flex flex-grow  -mt-10 min-w-screen min-h-screen ml-0 p-0 sm:justify-items-start z-10 md:rounded-br-fullS  sm:text-center sm:text-xs ">
<ul>
  <li *ngFor="let cartItem of cart.items " class="md:text-lg sm:text-sm">
    <div>
      <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
    </div>
    <div>
      <a routerLink="/food/{{cartItem.food.id}}">
        {{cartItem.food.name}}
      </a>
    </div>
    <div>
      <select #quantitySelect

      [value]="cartItem.quantity"
      (change)="changeQuantity(cartItem, quantitySelect.value)">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
    <div>
      {{cartItem.price | currency}}
    </div>

    <div>
      <button class="remove-button text-red-600" (click)="removeFromCart(cartItem)">
        Remove
      </button>
    </div>
  </li>
</ul>


<div class="checkout md:text-lg sm:text-xs space-y-3 "><app-loading></app-loading>
  <div>
    <div class="text-xl">Items: {{cart.totalCount}}</div>
    <div class="text-xl">Price: {{cart.totalPrice|currency}}</div>
  </div>

  <a routerLink="/checkout" class="ml-7 sm:ml-5">Proceed to Checkout</a>
</div>
</div>
