
<header>
  <div class="container">
    <div class="flex justify-start mt-0">
    <a routerLink="/" class="logo"><img src="../../../../assets/onifood.png" width="50" height="50"/></a>
   <a routerLink="/" class="logo">Oni Food!</a></div>
    <nav>
      <ul>
        <li >
          <!-- <a routerLink="/login">Login</a> -->
        </li>
        <li  class="menu-container">
          <a routerLink="/dashboard">Nela</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
          <mat-icon matBadge="2" matBadgeColor="warn">shopping_cart</mat-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
