<div *ngIf="food" class="container bg-gray-200 min-w-screen min-h-screen   ml-0 p-0 z-10 md:rounded-tr-full mt-10 sm:text-center sm:text-xs">


  <img  [src]="food.imageUrl" [alt]="food.name" class="md:rounded-tl-full md:w-1/2 md:h-3/4 sm:w-screen "/>

  <div class="details sm:text-sm">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
      <span class="favorite {{food.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating m-1.5">
      <star-rating
      [value]="food.stars"
      [totalstars]="5"
      checkedcolor="red"
      uncheckedcolor="black"
      size="25px"
      [readonly]="true">
    </star-rating>
    </div>

    <div class="origins text-black">
      <span *ngFor="let origin of food.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags text-yellow-500">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="cook-time">
      <span>
        Time to cook about <strong>{{food.cookTime}}</strong> minutes
      </span>
    </div>

    <div class="price">
      <span class="text-red-600">
        {{food.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()">Add To Cart</button>

  </div>
</div>
