/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; max-width: 100%;
  overflow-x: hidden;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer base {
  body {
     @apply text-black bg-yellow-500 ;
  }


  header {
     @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }

}


@layer components{
  .input {
    @apply w-full rounded  px-5 py-3.5  outline-none ;
  }
 .headerLink{
     @apply cursor-pointer text-sm font-light text-black
 }}

